<!DOCTYPE html>
<html lang="en">
<head>
*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }
/* reset CSS
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 10px;
  font-family: 'Open Sans';

}
.container {
  display: flex;
  width: 100%;
}
.container-img {
  width: 100%;
  flex-wrap: wrap;
}
.container-nav {
  display: flex;
  justify-content: flex-end;

}
.topnav1 {
  display: flex;
  flex-grow: 1;
}
.topnav2 {
  display: flex;
}
.welcome {
  color: #ffffff;
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.theQuest {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.CompetitiveAnalysis {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.UserResearch {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.userPersonas {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.userStories {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.ContentStrategy {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.UserFlows {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.UserTesting {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.Branding {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.ColorTypography {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.PreferenceTesting {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.LogoEvolution {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.HighFiMockups {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.HiFiUserTesting {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.QuestCompleted {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  padding: 4rem;
}
.purple {
  background: #910DFF 100%;
  color: #ffffff;
}
.darkPurple{
  background: #480CE8 100%;
  color: #ffffff;
}
.par {
  font-size: 1.6rem;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 160%;
}
.center {
  justify-content: center;
  display: flex;
  flex: 1;
}
p {
  font-size: 1.6rem;
}
strong {
  font-weight: bolder;
}
.body {
  min-width: 320px;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #ffffff;
}
.link {
  min-width: 320px;
  background: inherit;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
}
.topnav {
  display: flex;
  justify-content: flex-end;
  padding: 14px 16px;
  padding-top: 35px;
  padding-bottom: 25px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 1.2rem;
}
.nav {
  display: flex;
  text-align: center;
  float: right;
  right: 0;
  left: 0;
  top: 100%;
  opacity: 1;
  font color: #ffffff;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
}
.nav-link {
  color: #ffffff;
  font-size: 18px
}
nav:hover {
  color: black;
}
.darkBlue {
  background: #034AA6 100%;
  font color: #fff;

}
.a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  opacity: 1;
  transition: opacity .3s;
}
a:hover {
  text-decoration: none;
  opacity: .8;
  color: #000000;
  text-decoration: none;
}
.header3 {
  font-size: 6.0rem;
  letter-spacing: -0.032em;
  line-height: 120%;
  font-weight: 800;
  line-height: 120%;
  display: flex;
}
.str {
  text-align: left;
  width: 100%;
  font-weight: 200;
  font-size: 3.79rem;
  padding-bottom: 1rem;
  display: flex;
}
.responsive {
  max-width: 100%;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.responsive-left {
  max-height: 17.4rem;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.logo {
  background-image: url(images/face.png);
  background: #034AA6 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 3.6rem;
  height: 6.0rem;
  font-size: 0;
  line-height: 0;
  margin-left: 5rem;
  margin-top: 3.5rem;
}

h1 {
  font-size: 2.843rem;
  font-weight: 400;
  font-family: 'Open Sans';
  line-height: 120%;
}
h4 {
  font-size: 3.6rem;
  letter-spacing: -0.055em;
}
h6 {
  font-family: 'Open Sans';
  font-weight: 800;
  text-align: left;
  position: absolute;
  top: 45%;
  right: 0;
}
.text-container {
  flex: 1;
  flex-direction: column;
  width: 30rem;
}

/*Buttons*/

.butn {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: .3rem;
  padding: 1.5rem 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-decoration: none;
  width: 15rem;
}

.butn:hover {
  background-color: transparent;
}

.btn--blk:hover {
  background: #4E3EB1;
}

.butn--purple {
  background: #910DFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,.1);
  color: #ffffff;
  font-family: 'Open Sans';

}

.butn--purple:hover {
  background: #910DFF 50%;
}

.btn--blue2{
  background: white;
  color: black;
}

.btn--blue2:hover {
  background: #4E3EB1;
  color: white;
}

.butn--lightblue {
  background-color: #0D8CFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,.1);
  font-family: 'Open Sans';
}

.butn--lightblue:hover {
  background: #0D8CFF 50%;
}

.butn--white {
  color: #4DD6FE;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,.1);
}

/* Footer Content */
.footerBlue {
  background: #0000FF;
  color: #ffffff;
  padding: 18px 0 20px;
  display: flex;
  flex-direction: column;
  margin: auto auto 0 auto;
  justify-content: center;
  align-content: center;
}
.img {
  max-width: 100%;
  flex: 1;
  padding: 100px;
}
.footercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.strFoot {
  width: 100%;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
}
.social-content {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  height: 32.5px;
}
.f-img {
  align-self: center;
  padding-bottom: 2rem;
}
.fp {
  align-content: center;
  display: inline-block;
  font-size: 1.2rem;
  width: 25rem;
}
.f1 {
  display: flex;
  justify-content: center;
}
.socials {
  display: inline-block;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 49px;
}
.footer p {
  font-size: 21.33px;
  line-height: 1.4;
  margin-bottom: 1px;
  color: #fff;
  letter-spacing: -0.025em;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
.footerRow1 {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.headerTitle {
  display: flex;
  font-size: 2.133rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.032em;
}
/* Responsive */
@media (min-width: 40rem) {

@media (max-width: 40rem) {
  .text-container {
    height: 70rem;
    padding-left: 18rem;
    flex-direction: row;
  }
  .right {
    justify-content: flex-end;
    padding-left: 40rem;
  }
  .img-center {
    align-self: center;
  }
  .left {
    padding-left: 20rem;
    padding-top: 5rem;
  }
  .par {
    font-size: 2.133rem;
    font-weight: 600;
    line-height: 120%;
    width: 39rem;
    padding-bottom: 2rem;
  }
  .intro {
    height: 100rem;
  }
  .intro__content {
    width: 90rem;
    padding-left: 20rem;
    padding-top: 20rem;
  }
  .logo {
    margin-left: 20rem;
  }
  h1 {
    font-size: 5rem;
  }
  .topnav {
    font-size: 2rem;
  }
  .headerTitle {
    font-size: 3.79rem;
    padding-top: 15rem;
  }
  .title-right {
    padding-top: 17rem;
  }
  .responsive {
    max-width: 23.1rem;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .responsive-left {
    padding-top: 10rem;
    max-height: 42rem;
  }
}
.strFoot {
  width: 100%;
  font-weight: bolder;
  font-size: 3.6rem;
}
.footercontent {
  display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 1.2rem;
}
}
